@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Nunito+Sans:opsz@6..12&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #9bd1e5;
    --secondary-color: #57a773;
    --accent1-color: #6A8EAE;
    --accent2-color: #D1FAFF;

    --heading-font: 'Istok Web', sans-serif;
    --paragraph-font: 'Nunito Sans', sans-serif;

    --nav-background-color: #68e7ee;
    --nav-link-color: #0000EE;
    --nav-hover-link-color: #6C3B31;
    --nav-hover-background-color: #13505b;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: var(--heading_font);
    
}
header {
    max-width: 800px;
    background-color: var(--accent2-color);
    padding:20px 0 5px;
    border: 1px solid black

    
}
nav a {
    background-color: #d2d4e0;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover{
    background-color: #0ac8ea;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    flex: 1 1 100%;
}
main {
    display: grid;
    grid-template-columns: 73% 25%;
    grid-gap: 2%;
    max-width: 800px;
    padding: 20px 0 20px
    
}
.profile {
    width: 200px;
    height: auto;
}
.flag{
    width: 150px;
    height: auto;
}
.card {
    border:1px solid black;
    padding: 1.25rem;
    border-radius: .75rem;

}


p {
    font-family: var(--paragraph-font);
}
a {
    display: block;
    text-align: center;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
h2 {
    background-color: var(--accent2-color);
    border-radius: .5rem;
}